@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #69cfc4;
$tertiary_color: #132236;
$background: #132236;
$border: #606060;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: $background;
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to3 {
		ul {
			margin: 0;
			list-style: none;
			display: flex;
			li {
				margin: 0 5px;
				padding: 5px 10px;
				a {
					color: #fff;
				}
				&.current-lang {
					border: 1px solid #fff;
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin: 0;
		font: {
			size: 20px;
			weight: bold;
		}
		color: $tertiary_color;
		span {
			color: $secondary_color;
		}
	}
	h2 {
		font: {
			size: 24px;
			weight: bold;
		}
		color: $secondary_color;
	}
	h3 {
		font: {
			size: 16px;
			weight: bold;
		}
		color: $tertiary_color;
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.item {
		overflow: hidden;
		position: relative;
		&:hover {
			.item-overlay {
				top: 0;
			}
		}
		.item-overlay {
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 10px;
			background-color: rgba(19, 34, 54, 0.9);
			overflow: hidden;
			position: absolute;
			-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			top: 300px;
			p {
				margin: 0;
				font-size: 0.80em;
				color: #fff;
			}
		}
	}
	.sow-tabs {
		.sow-tabs-tab-container {
			padding: 0;
			.sow-tabs-tab {
				font-size: 16px;
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 30px;
	.moduletable_b11 {
		.so-panel {
			margin: 0 !important;
		}
		.item {
			overflow: hidden;
			position: relative;
			&:hover {
				.item-overlay {
					top: 0;
				}
			}
			img {
				width: 100%;
			}
			h4 {
				margin: 10px 25px;
				font-size: 16px;
				color: #fff;
				text-align: center;
			}
			.item-overlay {
				width: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				overflow: hidden;
				position: absolute;
				-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				top: 300px;
				p {
					padding: 0 10px;
					font-size: 14px;
					a {
						&.button {
							margin: 20px;
							background-color: transparent;
							border: 1px solid #fff;
							border-radius: 0;
						}
					}
				}
			}
			&.color_1 {
				background-color: rgba(19, 34, 54, 1);
				.item-overlay {
					background-color: rgba(19, 34, 54, 0.9);
				}
			}
			&.color_2 {
				background-color: rgba(105, 207, 196, 1);
				.item-overlay {
					background-color: rgba(105, 207, 196, 0.9);
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 30px;
	.moduletable_b21 {
		h3 {
			margin: 0;
			font-size: 20px;
			color: $tertiary_color;
			span {
				color: $secondary_color;
			}
		}
		.owl-item {
			p {
				margin: 0;
			}
			a {
				padding: 5px;
				border: 1px solid $border;
				display: block;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 30px;
	.moduletable_b31 {
		a.button {
			margin: 0;
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $background;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $background;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Pop Up */

.fancybox-slide>* {
	background-color: transparent;
}

/* Brochure */

.moduletable_br1 {
	top: 20%;
	right: 0;
	position: fixed;
	p {
		margin: 0;
	}
	a {
		max-width: 110px;
		margin: 0;
		background-color: $background;
		border: 1px solid #fff;
		border-radius: 0;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}